@using ASM_hungnqph19112_CS4.Models;
@model ProductDto;
@{
    ViewData["Title"] = "Create New Update";
    Layout = "_LayoutAdmin";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h4>Create New Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infomation" class="control-label"></label>
                <input asp-for="Infomation" class="form-control" />
                <span asp-validation-for="Infomation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="CategoryId" class="control-label"></label>
                </div>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>